ion-content, ion-item, ion-button{
    --background: none;
}

.logos {
    width: 200px;
    height: 200px;
    margin-top: 65%;
}

.labels {
    padding: 20px;
    font-size: 28px;
}

.splashes {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
#tercer-splash{
    background-image: url("../../../assets/imgs/posters-furniture-a-background.jpg.jpg");
    -webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;
    height: 100%;
    // justify-content: center;
    .labels-container {
        -webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) 1.5s both;animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) 1.5s both;
        h1 {font-size: 32px;}
        p {font-size: 28px;}
        color: black;
        margin-top: 11rem;
        position: relative;
        font-family: 'Bebas Neue', sans-serif;
    }
    img {
        -webkit-animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) .5s both;animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) .5s both;
        margin-top: 85%;
        position: absolute;
    }
}
